<div class="form-body">
    <form 
        autocomplete="off"
        [formGroup]="createForm"
        (ngSubmit)="onCreate(createForm.value)"
        >
        <div>
            <label>Name: </label>
            <input type="text" formControlName="name" autocomplete="off" />
        </div>
        <div>
            <label>Price: </label>
            <input type="text" formControlName="price" autocomplete="off" />
        </div>
        <button type="submit">Submit</button>
    </form>
</div>

<div *ngFor="let listing2 of listings2">
    <div>{{listing2?.name}}</div>
    <div>{{listing2?.description}}</div>
    <div>{{listing2?.price}}</div>
</div>

